body {
  min-height: 2000px;
}

@font-face {
  font-family: wancester;
  src: url(font/WancesterSignature.ttf);
}

h1 {
  font-family: wancester;
  font-size: 70pt;
}
h2 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 30pt;
}

#nava {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.jumbotron {
  padding: 5rem 5rem;
  background-color: #e2edff;
}

#projects {
  background-color: #e2edff;
}
